@page "/Planzajec"

<PageTitle>Plan Zajęć</PageTitle>
<style>
    th {
        text-align: center; 
        padding: 10px; 
        margin: 10px;
        width: 100px;
        height: 50px;
    }
    td{
        text-align: center;
        padding: 10px;
        margin: 10px;
        width: 100px;
        height: 50px;
    }

    img {
        text-align: center;
        width: 200px;
        height: 100px;
    }
</style>

<h1>Dla odpoczynku:</h1>
<table border="1">
    <tr>
        <td><a href="https://www.youtube.com/"><img src="https://lh3.googleusercontent.com/3zkP2SYe7yYoKKe47bsNe44yTgb4Ukh__rBbwXwgkjNRe4PykGG409ozBxzxkrubV7zHKjfxq6y9ShogWtMBMPyB3jiNps91LoNH8A=s500" alt="Youtube"</a></td>
        <td><a href="https://www.facebook.com/"><img src="https://ocdn.eu/pulscms-transforms/1/MF6ktkqTURBXy80YzQ0NThiMTM1NDNiMTA2NjYxNzUzODBmMDFlMjMzZC5qcGVnkpUDGADNAm7NAV6TBc0EsM0Cdg" alt="Facebook"</a></td>
        <td><a href="https://twitter.com"><img src="https://www.whitemad.pl/wp-content/uploads/2023/07/nowe-logo-twitter.jpeg" alt="Twitter / X"</a></td>
    </tr>


</table>



<h3>Plan Zajęć</h3>
<table border="1">
    <thead>
        <tr>
            <th>Poniedziałek</th>
            <th>Wtorek</th>
            <th>Środa</th>
            <th>Czwartek</th>
            <th>Piątek</th>
        </tr>
    </thead>
    
        <tr>
                <td>Polski</td>
                <td>Matematyka</td>
                <td>wf</td>
                <td>Angielski</td>
                <td>Matematyka</td>
        </tr>
        <tr>
                <td>Fizyka</td>
                <td>Polski</td>
                <td>Matematyka</td>
                <td>Niemiecki</td>
                <td>Fizyka</td>
        </tr>
        <tr>
                <td>Matematyka</td>
                <td>WF</td>
                <td>Niemiecki</td>
                <td>Informatyka</td>
                <td>Informatyka</td>
        </tr>
        
    
</table>



@code {
    
}
